@import './variables/colors';
@import './variables/fonts';
@import './variables/image';
@import './sections/transformer';
@import './sections/header';
@import './sections/nav';
@import './sections/footer';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}





























