
$violet: #B799FF;
$azul2: #ACBCFF;
$celeste: #AEE2FF;
$celeste2: #E6FFFD;
$color-texto:  #6b72b5;



.nav-header{
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}

.header{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.footer{
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%); 
}


